# Agent providers
ANTHROPIC_API_KEY=
ANTHROPIC_BASE_URL=
OPENAI_API_KEY=
OPENAI_BASE_URL=
GOOGLE_API_KEY=
GEMINI_API_KEY=
FIREWORKS_AI_API_KEY=
FIREWORKS_API_KEY=

# Grader
GRADING_MODEL=
GOOGLE_APPLICATION_CREDENTIALS=
VERTEXAI_CREDENTIALS=
VERTEXAI_LOCATION=
VERTEXAI_PROJECT=
